<mat-card>
    <mat-card-title>
        <h2>Mon panier</h2>
    </mat-card-title>
    <mat-card-content>
        <p *ngIf="!basketService.hasProducts(); else basketTotal">Vous n'avez pas encore d'articles dans votre panier.
        </p>
        <ng-template #basketTotal>Votre panier est de {{ $total | async | currency }}</ng-template>
    </mat-card-content>
</mat-card>
<ng-container *ngFor="let product of ($products | async)">
    <!-- *ngFor="let product of products" -->
    <app-product *ngIf="productService.isProductAvailable(product)" [product]="product"
        (addTobasket)="updatePrice($event)"></app-product>
</ng-container>
