<mat-card [ngClass]="{lowProduct: productService.isLastProduct(product)}">
    <mat-card-title-group>
        <mat-card-title >
        <a [routerLink]="['/products', product.id]">{{product.title }}</a>
        </mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
        <img mat-card-sm-image
            [src]="product.photo"
            alt="">
    </mat-card-title-group>
    <mat-card-content>
        <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="addTobasket.emit(product)">Acheter</button>
    </mat-card-actions>
</mat-card>
